/* --------------- General --------------- */
ul {
    list-style-type: none;
}


/* Icon Bar */
/* .icon-bar {
    position: fixed;
    top: 50%;
    right: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
  } */
  
  /* Icon Bar Links */
/* .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
} */
  
  /* Icon Bar Colors*/
/* .icon-bar a:hover {
    background-color: #000;
}
  
.facebook {
    background: #3B5998;
    color: white;
}
  
.twitter {
    background: #55ACEE;
    color: white;
}
  
.instagram {
    background: #007bb5;
    color: white;
} */

/* Empty Space */
.emptySpace {
    min-height: 1000px;
}

/* Footer */
.footer {
    margin-bottom: 0px;
}
/* --------------- /General --------------- */

/* --------------- Main Page --------------- */
/* General */
body {
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(86, 160, 26), rgb(245, 244, 200));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(86, 160, 26), rgb(245, 244, 200)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    background-color: rgb(86, 160, 26);
    color: white;
}

ul {
    list-style-type: none;
}

.carousel {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    padding: none;
}

.carousel-image {
    width: 100%;
    height: 600px;
    overflow: auto;;
}

.carousel-overlay {
    width: 100%;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    text-align:  center;
    background-color: rgb(134, 82, 197);
    background:  rgba(134, 82, 197, 0.5);
}

.card-container {
    margin: 20px 0px;
    /* height: 650px; */
}

.home-card {
    width: 32%;
    height: auto;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid 5px white;
}

.card-img-top {
    height: 100%;
}

.card-text {
    height: auto;
    min-height:  100px;
}

.btn {
    font-weight: bold;
    width: 150px;
    background-color: rgb(86, 160, 26);
    color: white;
}

.buy-header {
    border-bottom: dashed 2px black;
    margin-bottom: 0px;
}

.buy-container {
    width: 100%;
    min-height:  50px;
    text-align: center;
}

.buy-row {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    text-align: center;
    height: 300px;
}

.purchase-options {
    text-align: center;
    width: 50%;
    height: 100%;
}

.purchase-options h2 {
   width: 100%;
}

.newsletter-container {
    margin: auto;
    text-align: center;
    background-color: rgb(134, 82, 197);
    color: white;
    padding: 10px;
    height: 300px;
}

.newsletter-header {
    width: 100%;
}

.contact-container {
    width: 100%;
    min-height:  50px;
    text-align: center;
}

.follow-us {
    border-bottom: solid 2px black;
}

.contact-list-social {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.contact-list-social i {
    color: rgb(134, 82, 197);
    font-size: 5em;
    padding: 8px;
  }
/* --------------- /Main Page --------------- */

/* --------------- Product Page --------------- */
/* Product Card */
.product {
    margin: 20px;
}

.product-card {
    padding: 10px;
    margin: 0px 30px;
}

.product-card-img-top {
    height: 300px;
}

/* Koenig and Hill */
.koenigHill {
    background-color: rgb(134, 82, 197);
    color: white;
    text-align: center;
    cursor: pointer;
}
/* --------------- /Product Page --------------- */

/* --------------- Recipes Page --------------- */
/* Recipe Image */
.recipeHeader {
    text-align: center;
}

.recipePreview {
    width: 400px;
    height: 400px;
}

.recipeLabel {
    left: 0px;
    top: 0px;
}

/* Recipe Modal */
.dropdown {
    display: inline-block;
}

.recipeHeaders {
    width: 100%;
}

.recipeHeaders ul {
    padding: 10px;
}

.recipeImage {
    width: 400px;
    height: 400px;
    padding: 10px;
}

.recipeInfo {
    width: 300px;
}

.recipeIngredients li {
    border-top: solid 1px black;
}

.recipeIngredients li:first-child {
    border: none;
}

.recipeSteps {
    padding: 10px;
    margin: 20px;
    width: 300px;
}

.recipeSteps li {
    border-top: solid 1px black;
}

.recipeSteps li:first-child {
    border: none;
}

.recipeType {
    width: 30%;
    margin: 0px auto;
}

.recipeDropdown {
    color: white;
    min-height: 70px;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
}

/* Recipe Backgrounds */
#arugulaMicrogreens {
    background-image: url("backgroundImages/arugulamicrogreens-600x600.jpg");
}

#broccoliMicrogreenRecipes {
    background-image: url("backgroundImages/broccolimicrogreens.jpg");
}

#mildMixMicrogreens {
    background-image: url("backgroundImages/mildmixmicrogreens-300x300.jpg");
}

/* Coming Soon */
.comingSoon {
    text-align: center;
}
/* --------------- /Recipes Page --------------- */

/* --------------- Microgreens 101 Page --------------- */
/* Microgreens Info */
.microgreensInfo {
    height: 30%;
    margin: 25px;
    padding: 20px;
    border: solid 5px white;
}

.header101 {
    width: 30%;
    max-height: 70px;
    margin: 10px;
    border: solid 5px white;
    cursor: pointer;
    text-align: center;
    color: white;
}

.slideHeader {
    font-size: 20px;
}

#firstSlide {
    background-image: url("backgroundImages/goldenacrecabbagemicrogreens-300x300.jpg");
}

#secondSlide {  
    background-image: url("backgroundImages/mizunaredleafmustardmicrogreens-300x300.jpg");
}

#thirdSlide {
    background-image: url("backgroundImages/mildmixmicrogreens-300x300.jpg");
}

.infoImage {
    width: 100%;
}

.infoHeader {
    text-align: center;
}

.infoText {
    text-align: left;
}

#knowMicrogreens {
    background-image: url("backgroundImages/goldenacrecabbagemicrogreens-300x300.jpg");
    background-image: linear-gradient(to bottom, rgba(248, 244, 244, 0.733) 0%,rgba(248, 244, 244, 0.733) 100%), url("backgroundImages/goldenacrecabbagemicrogreens-300x300.jpg");
}

#harvestWash {
    background-image: url("backgroundImages/mizunaredleafmustardmicrogreens-300x300.jpg");
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("backgroundImages/mizunaredleafmustardmicrogreens-300x300.jpg"); */
    background-image: linear-gradient(to bottom, rgba(248, 244, 244, 0.733) 0%,rgba(248, 244, 244, 0.733) 100%), url("backgroundImages/mizunaredleafmustardmicrogreens-300x300.jpg");
}

#useThem {
    background-image: url("backgroundImages/mildmixmicrogreens-300x300.jpg");
    background-image: linear-gradient(to bottom, rgba(248, 244, 244, 0.733) 0%,rgba(248, 244, 244, 0.733) 100%), url("backgroundImages/mildmixmicrogreens-300x300.jpg");
}
/* --------------- /Microgreens 101 Page --------------- */

/* --------------- Chefs Page --------------- */
.chefHeader {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.threeDollars {
    text-align: center;
    border-right: solid 10px black;
    border-bottom: solid 5px black;
    border-top: solid 5px black;
    border-left: solid 10px black;
    height: auto;
    min-height: 1000px;
    font-size: 42px;
    margin-bottom: 250px;
}

.threeDollars li {
    border-top: dashed 1px black;
}

.threeDollars li:first-child {
    border: none;
}

.threeTwentyFive {
    text-align: center;
    border-left: solid 10px black;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    border-right: solid 10px black;
    height: auto;
    min-height: 1000px;
    margin-bottom: 250px;
    font-size: 42px;
}

.threeTwentyFive li {
    border-top: dashed 1px black;
}

.threeTwentyFive li:first-child {
    border: none;
}

.chefPaddingList {
    padding: 1px;
}

.chefOptions {
    padding: 0px;
}

.chefFooter {
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}

.chefFooterHeader {
    text-align: center;
}
/* --------------- /Chefs Page --------------- */

/* --------------- Varieties Page --------------- */
.green-category {
    width: 50%;
    height: 900px;
    color: white;
    border: solid 2px white;
    cursor: pointer;
}

#living {
    background-image: url("backgroundImages/goldenacrecabbagemicrogreens-300x300.jpg");
    background-size:  cover;
}

#wholesale {
    background-image: url("backgroundImages/wholesaleBackground.jpg");
    background-size:  cover;
}

.variety-row {
    padding: 10px;
}

#green-varieties {
    width: 24%;
    margin: 0 auto;
    height: 480px;
}

#variety-image {
    height: 400px;
}

#switch-container {
    color: white;
    visibility: hidden;
}

.switch-categories {
    margin: 10px;
    cursor: pointer;
    width: 35%;
}
/* --------------- Varieties Page --------------- */

/* -------------------- Resizing -------------------- */
@media only screen and (max-width: 1024px) {

    /* --------------- Main Page --------------- */
    .icon-bar a {
        padding: 10px;
        font-size: 15px;
      }

    .carousel-inner {
        height: 400px;
    }

    .card-img-top {
        height: 200px;
    }
    
    .card-text {
        height: 75px;
    }
    /* --------------- /Main Page --------------- */

    /* --------------- Microgreens 101 --------------- */
    .header101 {
        margin: 10px 1px;
    }

    .slideHeader {
        font-size: 15px;
    }

    .microgreensInfo {
        height: 800px;
    }
    /* --------------- /Microgreens 101 --------------- */

    /* --------------- Product Page --------------- */
    /* --------------- /Product Page --------------- */

    /* --------------- Recipe Page --------------- */
    .recipeHeaders {
        padding: 0px;
    }

    .dropdown ul {
        display: block;
        margin: 0px auto;
    }
    /* --------------- /Recipe Page --------------- */
}

@media only screen and (max-width: 768px) {

    /* --------------- Main Page --------------- */
    .card-title {
        font-size: 16px;
    }

    .card-text {
        visibility: hidden;
    }

    .card-body {
        height: 125px;
        text-align: center;
    }

    .cardButton {
        position: relative;
        top: -80px;
    }

    #aboutUs {
        padding: 0px 20px;
    }

    .selectors {
        width: 415px;
    }

    .iFrame {
        width: 400px;
        height: 300px;
    }

    .mapContainer {
        width: 415px;
        overflow: hidden;
    }
    /* --------------- /Main Page --------------- */

    /* --------------- Microgreens 101 --------------- */
    .microgreensInfo {
        height: auto;
    }
    /* --------------- /Microgreens 101 --------------- */

    /* --------------- Product Page --------------- */
    /* --------------- /Product Page --------------- */

    /* --------------- Recipe Page --------------- */
    .recipeDropdown {
        font-size: 17px;
    }
    /* --------------- /Recipe Page --------------- */
}

@media only screen and (max-width: 425px) {

    /* --------------- General --------------- */
    /* Icon Bar */
    .icon-bar {
        position: relative;
        top: 25px;
        text-align: center;
        margin: 0px;
      }
      
      /* Icon Bar Links */
      .icon-bar a {
        display: inline-block;
        color: white;
        font-size: 20px;
        height: 100%;
        width: 30%;
      }
    
    /* --------------- /General --------------- */

    /* --------------- Main Page --------------- */
      
    /* Carousel */
    .carousel-inner {
        height: 200px;
    }

    /* Card */
    .card {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* Map */
    .selectors {
        visibility: hidden;
    }

    .iFrame {
        width: 300px;
        height: 100px;
        visibility: hidden;
    }

    .mapContainer {
        height: 200px;
        width: 355px;
        overflow: hidden;
    }
    /* --------------- /Main Page --------------- */

    /* --------------- Microgreens 101 --------------- */
    .infoHeader {
        font-size: 24px;
    }
    /* --------------- /Microgreens 101 --------------- */

    /* --------------- Recipe Page --------------- */
    .recipeType {
        padding: 0px !important;
    }

    .recipeImage {
        width: 300px;
        margin: 0px auto;
    }
    /* --------------- /Recipe Page --------------- */
}

@media only screen and (max-width: 375px) {
    /* --------------- Main Page --------------- */
    .sourceMicrogreens {
        visibility: hidden;
        height: 25px;
    }

    .mc-field-group {
        font-size: 12px;
    }

    .mapContainer {
        width: 310px;
        height: 150px;
    }

    .mapContainer h1 {
        font-size: 32px;
    }
    /* --------------- /Main Page --------------- */

    /* --------------- Microgreens 101 --------------- */
    .slideHeader {
        font-size: 12px;
    }
    /* --------------- /Microgreens 101 --------------- */

    /* --------------- Recipe Page --------------- */
    .recipeDropdown {
        font-size: 15px;
    }
    /* --------------- /Recipe Page --------------- */
}

@media only screen and (max-width: 320px) and (min-width: 320px) {
    
}