ul {
    list-style-type: none;
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .instagram {
    background: #007bb5;
    color: white;
  }
  

/* Carousel */
.carousel-inner {
    height: 500px;
    border: solid 10px white;
}

.carousel-caption {
    top: 350px;
}

.slideHeader {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.slideInfo {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

/* Card */
.card {
    padding: 10px;
    margin: 0px 30px;
}

.card-img-top {
    height: 300px;
}

/* Product Card */
.product {
    margin: 20px;
}


/* Recipe Image */
.recipePreview {
    width: 400px;
    height: 400px;
}

.recipeLabel {
    left: 0px;
    top: 0px;
}

/* Recipe Modal */
.recipeImage {
    width: 400px;
    height: 400px;
    padding: 10px;
}

.recipeInfo {
    width: 300px;
}

.recipeSteps {
    padding: 10px;
    margin: 20px;
    width: 300px;
}

/* Microgreens Info */
.microgreensInfo {
    background-color: white;
    height: 600px;
    margin: 25px;
}

.infoHeader {
    text-align: center;
}

.infoText {
    text-align: center;
}
/* Empty Space */
.emptySpace {
    min-height: 1000px;
}

/* About Us */
.about {
    margin: 20px;
}

/* Newsletter */
#newsletter {
    text-align: center;
    background-color: rgb(188, 35, 235);
    color: white;
    min-height: 150px;
}

.newsletterHeader {
    margin: 10px;
    padding: 5px;
}

/* Map Selectors */
.selectors {
    width: 600px;
}

.mapSelectors li {
    display: inline-block;
}

#opMap {
    font-weight: bold;
    float: left;
}

#lenMap {
    font-weight: bold;
    float: right;
}

/* Google Maps */
.map {
    margin: 10px;
    left: 50%;
}

/* Footer */
.footer {
    margin-bottom: 0px;
}