nav {
    position: fixed;
    top: 0px;
	left: 0px;
    z-index: 1;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif !important;
}

.navbar {
    background-color: black;
    width: 100vw;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
}

#navbarNav {
    background-color: black;
}

.nav-item:hover {
    color: #ffffff !important;
	transform: translateY(-3px);
	box-shadow: 0 7px 14px rgba(255, 255, 255, 0.1), 0 3px 6px rgba(117, 117, 117, 0.08);
}

a {
    color: white !important;
    
}

body {
    background-color: #90ee90 !important;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Noto Sans', sans-serif !important;
}

h2 {
    display: block;
    margin: auto;
    color: white !important;
}

li {
    color: white !important;
}

div {
    background-color: #90ee90;
}

.imageContainer {
    height: 500px;
    width: 500px;
    display: block;
    margin: auto;
}

img {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 5px;
    margin: auto;
}

.mainImage {
    display: block;
}

.sidebar {
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 5px;
    background-color: rgb(21, 158, 67);
    text-align: center;
}

.sidebarGroup {
    background-color: rgb(21, 158, 67);
    height: 1500px;
}

.paypalbutton {
    background-color: rgb(21, 158, 67) !important;
}

p {
    padding: 2px;
}

.social {
    height: 70px;
    width: 70px;
}

.sidebarSocial {
    text-decoration: none !important;
}
.sidebarLink {
    text-decoration: none;
    color: black;
}

.footer {
    text-align: center;
	vertical-align: center;
	border-top: solid;
	border-width: 10px;
	border-color: white;
	background-color: black;
	padding: 25px;
	width: 100vw;
	right: 0px;
	bottom: 0px;
	left: 0px;
	color: white;
}

.footerText {
    color: white !important;
    text-decoration: none;
}